<!DOCTYPE html>
<html lang="en-US">
<style type="text/css">
	p { color: red;
		font: arial;
		font-size: 25px;

	}

	h4 {
		color: green;
		font-size: 15px;
		padding-top: 15px;
	}

	h3 {
		padding-top: 15px;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
<body>

<div ng-app="Nome Legal">
  <p>Nome : <input type="text" ng-model="name">  <br> <br> <p> Continuação : <input type="text" ng-model="name2"></p>
  <h3>Olá {{name}} {{name2}}, como você está nesse belo dia?</h3>
  <h4>Sou Top tlgd, afinal eu tenho um gatinho mas ele está no veterinario :( </h4>
</div>

</body>
</html>